<h2>sign up for our newsletter to receive news and specials!</h2>
<form method="post" action="/process?form=newsletter">
	<input type="hidden" name="csrf" value="{{csrf}}"/>
	<div>
		<label>Name</label>
		<input type="text" id="fieldName" name="name"/>
	</div>
	<div>
		<label>Email</label>
		<input type="email" required id="fieldName" name="email"/>
	</div>
	<div>
		<button type="submit">Register</button>
	</div>
</form>